// https://www.evolware.org/2021/02/21/using-spidev-with-mainline-linux-kernel-on-the-raspberry-pi-4/
// adopted to the definitions in the raspberrypi kernel
/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";
};

&gpio {
	// from bcm2711-rpi-ds.dtsi
	spi0_pins: spi0_pins {
		brcm,pins = <9 10 11>;
		// bcm2835.h: #define BCM2835_FSEL_ALT0 4
		brcm,function = <4>;
	};

	spi0_cs_pins: spi0_cs_pins {
		brcm,pins = <8 7>;
		// bcm2835.h:#define BCM2835_FSEL_GPIO_OUT 1
		brcm,function = <1>;
	};
};

&spi {
	status = "okay";
	// from bcm2711-rpi-4-b.dts
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins &spi0_cs_pins>;
	cs-gpios = <&gpio 8 1>, <&gpio 7 1>;

	spidev0: spidev@0 {
		compatible = "lwn,bk4";  // "spidev";
		reg = <0>;	/* CE0 */
		#address-cells = <1>;
		#size-cells = <0>;
		spi-max-frequency = <125000000>;
	};

	spidev1: spidev@1 {
		compatible = "lwn,bk4";  // "spidev";
		reg = <1>;	/* CE1 */
		#address-cells = <1>;
		#size-cells = <0>;
		spi-max-frequency = <125000000>;
	};
};

&i2s {
	status = "okay";
	// from bcm270x.dtsi
	#sound-dai-cells = <0>;
	dmas = <&dma 2>, <&dma 3>;
	dma-names = "tx", "rx";
	// from bcm2711-rpi-4-b.dts
	pinctrl-names = "default";
	pinctrl-0 = <&pcm_gpio18>;  // <&i2s_pins>;
};
